.invoice-page {
  padding: 20px 0;

  .title {
    background: $primary-color-1;
    color: $white;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-bottom: 0;
  }
  .MuiGrid-root {
    &.MuiGrid-item {
      border: 1px solid gray;
      padding: 10px;

      &.text-color {
        color: $primary-color-2;
        font-weight: bold;
      }
      &.text-bold {
        font-weight: bold;
      }
    }
  }
  .buttons {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;

    button {
      flex-basis: 200px;
    }
  }
  @media screen and (max-width: 899px) {
    .title {
      text-align: center;
    }
    .MuiGrid-root {
      &.MuiGrid-item {
        border-bottom: 0;
        &:nth-of-type(2n + 1) {
          background: lightgray;
        }
        &:last-of-type {
          border-bottom: 1px solid gray;
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    .MuiGrid-root {
      &.MuiGrid-item {
        border-bottom: 0;
        &:nth-of-type(2n) {
          border-left: 0;
        }
        &:last-of-type {
          border-bottom: 1px solid gray;
        }
        &:nth-last-of-type(2) {
          border-bottom: 1px solid gray;
        }
      }
    }
  }
}
