$white: #ffffff;
$black: #000000;
$color-1: #1c1c1c;
$color-2: #daddd8;
$primary-color-1: #008dff;
$primary-color-2: #f0284a;
$primary-color-3: #ffbb00;
$secondary-color-1: #2abba7;
$secondary-color-3: #ff9100;

$box-shadow-1: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 18px 0 rgba(0, 0, 0, 0.034);
$box-shadow-2: 0 5px 9px 0 rgba(0, 0, 255, 0.2),
  0 2px 18px 0 rgba(0, 0, 255, 0.034);
